//colors
$bluishFontColor: #3467B0;
$backgroundGrayColor: #F5F9FC;
$borderColor: #BCCEE4;
$fontDefault: MuseoSans, sans-serif;
$containerGrayBackground: #F5F5F5;
$brandColor: #2B68B2;


.gray-text-color {
  color: #4A4A4A;
}

html {
  font-family: $fontDefault;
}

//fonts
.font-13 {
  font-size: 13px;
  line-height: 15px;
  font-family: $fontDefault;
}

.font-14 {
  font-size: 14px;
  line-height: 16px;
  font-family: $fontDefault;
}

.font-16 {
  font-size: 16px;
  line-height: 18px;
  font-family: $fontDefault;
}

.museosans {
  font-family: $fontDefault;
}


.header-logo-container .navbar-brand {
  padding: 10px 0px 0px 30px;
}

.navbar-brand {
  height: 80px;
}

.navbar {
  margin: auto;
  padding: 0 0 !important;
  min-height: 90px;
  box-shadow: 1px 0px 4px 1px $brandColor;
  background-color: #FFFFFF;
}

.navbar-nav > li > a {
  padding-top: 35px;
  padding-bottom: 35px;
  font-family: $fontDefault;
}

.nav-bar-component {
  font-size: 1.8rem;
  font-weight: 100;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #FFFFFF;
  font-weight: 500;
  text-decoration: none;
  text-decoration-color: $brandColor;
  position: relative;
  color: $bluishFontColor;
}

.navbar-default .navbar-nav > .active a:after {
  content: 'Processing';
  color: transparent;

  width: 95%;
  position: absolute;
  left: 1rem;
  bottom: 3rem;
  margin: auto;

  border-width: 0 0 1px;
  border-style: solid;
  border-color: $bluishFontColor;
}

.container {
  width: 100%;
  margin-top: 5%;
  padding-left: 0px;
  padding-right: 0px;
}

.background-main-container {
  color: $bluishFontColor;
}

.first-section {
  background: url(../images/HiggsBoson_background.png);
  background-repeat: round;
  background-position: inherit;
}
.description-header {
    font-size: 3rem;
  font-weight: 500;
}

.background-description {
  padding: 3em 3em;
  width: 60%;
  font-size: 2.5rem;
  line-height: 40px;
  font-weight: 100;
}

.left-description {
  padding: 2% 3%;
  font-weight: 300;
  font-size: 1.8rem;
}

.right-description {
  padding: 2% 3%;
  font-weight: 300;
  font-size: 1.8rem;
}

.sub-description-container {
  background-color: $backgroundGrayColor;
  border-bottom: 1px solid $borderColor;
  color: $bluishFontColor;
}

.section-header {
  color: $bluishFontColor;
  padding-top: 3%;
  padding-bottom: 3%;
  font-size: 2.5rem;
  font-weight: 300;
}

.diagram-container {
  //width: 100%;
  //margin: auto;
}

.section-sub-header {
  color: $bluishFontColor;
  padding-bottom: 3%;
  font-size: 2rem;
}

.mms-advantages-main-container {
  background-color: $containerGrayBackground;
  margin-top: 2%;
  padding: 1% 1% 3% 1%;
  font-family: $fontDefault;
  font-weight: 300;
  text-transform: capitalize;
}

.no-list {
  list-style: none;
}

.li-point {
  width: 20%;
  margin: 2%;
}

.point-label {
  width: 100%;
  padding-top: 2%;
  font-size: 1.5rem;
  font-family: $fontDefault;
  font-weight: 300;
}

.care-team-points-container {
  border-bottom: 1px solid $borderColor;
  padding-bottom: 2%;
}

.our-team-main-container {
  width: 100%;
  background-color: $containerGrayBackground;
  padding: 1% 1% 3% 2%;
  font-weight: 300;
  font-size: 1.5rem;
  font-family: $fontDefault;
}

.users-points-container {
  //width: 100%;
}

.our-story-image {
  width: 20%;
  margin: 0 auto;
}

.our-story-description {
  margin: 0 auto;
  width: 50%;
  padding: 2%;
  font-size: 1.5rem;
  font-family: $fontDefault;
  font-weight: 300;
  line-height: 2.5rem;
}

.footer-container {
  padding: 2% 2%;
}

.list-image {
  height: 50%;
  width: 50%;
}

.nav.navbar-nav.navbar-right {
  margin-right: 30px;
}

.container .col-xs-12 {
  padding-right: 0px;
  padding-left: 0px;
}

.second-section-sub-header {
  padding-top: 3%;
  color: $bluishFontColor;
  width: 100%;
  float: left;
  font-size: 2rem;
  padding-bottom: 3%;
}

.padding-top-10 {
  padding-top: 10%;
}

.team-member-description {
  margin-top: 2%;
  font-size: 1.3rem;
}

.navbar-default .navbar-nav > li > a {
  color: $bluishFontColor;
}

.mms-second-row, .our-team-second-row {
  width: 80%;
  margin: auto;
}

.padding-top-3 {
  padding-top: 3%;
}

.input-group, .btn {
  width: 100%;
}

.btn-submit {
  background-color: #3CC0C6;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 20px;
  color: #FFF;
  font-family: $fontDefault;
  margin-top: 5%;
}

.office-address-container {
  margin-top: 2%;
  color: $bluishFontColor;
  font-family: $fontDefault;
}

.input-container {
  border: 0px solid #ccc;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
  border-bottom: 1px solid $borderColor;
  font-family: $fontDefault;
  font-weight: 100;
}

.input-container:focus {
  border: 0px solid #ccc;
  border-bottom: 1px solid $borderColor;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
}

.has-success .form-control {
  border: 0px solid #ccc;
  border-bottom: 1px solid #67b168;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
}

.has-error .form-control:focus, .has-error .form-control {
  border: 0px solid #ccc;
  border-bottom: 1px solid darkred;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
}

#success_message{ display: none;}