//colors
@import "variables";
$bluishFontColor: #3467B0;
$backgroundGrayColor: #F5F9FC;
$borderColor: #BCCEE4;
$fontDefault: MuseoSans, sans-serif;
$containerGrayBackground: #E8F4F6;
$brandColor: #2B68B2;
$callunaFont: CallunaSans;
$minionFont: MinionPro;
$size: 100px;

html, body{
  font-size: 11px;
}
@media screen and (min-width: 500px) and (max-width: 768px){
  html, body{
    font-size: 7px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px){
  html, body{
    font-size: 9px;
  }
}


@media screen and (max-width: 500px){
  html, body{
    font-size: 8px;
  }
}


.gray-text-color {
  color: #4A4A4A;
}

//fonts
.font-13 {
  font-size: 13px;
  line-height: 15px;
}

.font-14 {
  font-size: 14px;
  line-height: 16px;
}

.font-16 {
  font-size: 16px;
  line-height: 18px;
}

.museosans {
  font-family: $fontDefault !important;
}

.minion-pro {
  font-family: $minionFont !important;
}
.minion-pro-regular {
  font-weight: 300;
}
.minion-pro-medium {
  font-weight: 500;
}
.minion-pro-semibold {
  font-weight: 700;
}
.minion-pro-bold {
  font-weight: 900;
}


.calluna-sans {
  font-family: $callunaFont !important;
}
.calluna-sans-light {
  font-weight: 100;
}
.calluna-sans-regular {
  font-weight: 300;
}
.calluna-sans-semibold {
  font-weight: 500;
}
.calluna-sans-bold {
  font-weight: 700;
}
.calluna-sans-black {
  font-weight: 900;
}


.header-logo-container .navbar-brand {
  padding: 10px 0px 0px 30px;
}

.navbar-brand {
  height: 80px;
}

.navbar {
  margin: auto;
  padding: 0 0 !important;
  height: 110px;
  box-shadow: 1px 0px 4px 1px $brandColor;
  background-color: #FFFFFF;
}

.navbar-nav > li > a {
  padding-top: 45px;
  padding-bottom: 35px;
  font-family: $callunaFont;
}

.nav-bar-component {
  font-size: 1.8rem;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus{
  background-color: #FFFFFF;
  font-weight: 700;
  text-decoration: none;
  text-decoration-color: $brandColor;
  position: relative;
  color: $bluishFontColor;
}

.navbar-default .navbar-nav > .active a:after {
  content: 'Processing';
  color: transparent;

  width: 88%;
  position: absolute;
  left: 1rem;
  bottom: 3rem;
  margin: auto;

  border-width: 0 0 1px;
  border-style: solid;
  border-color: $bluishFontColor;
}

.container {
  width: 100%;
  margin-top: 90px;
  padding-left: 0px;
  padding-right: 0px;
}

.description-sup-content {
  font-size: 1.8rem;


}

.background-main-container {
  color: $bluishFontColor;
}

.first-section {
  background: url(../images/Hero_image_3x.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}
.description-header {
    font-size: 3rem;


}

.background-description {
  padding: 50px 100px 50px 100px;
  width: 66%;
  font-size: 3rem;
  line-height: 4rem;

  @media screen and (max-width: 1440px) and (min-width: 1281px) {
    padding: 118px 118px 118px 75px;
  }
  @media screen and (max-width: 1280px) and (min-width: 1230px) {
    padding: 80px 80px 80px 70px;
    width: 60%;
  }
  @media screen and (max-width: 1229px) and (min-width: 1170px) {
    padding: 93px;
    width: 60%;
    padding-left: 60px;
   ;
  }
  @media screen and (max-width: 790px) and (min-width: 768px) {
    padding: 63px;
    width: 65%;

    padding-left: 50px;
  }
}

.left-description {
  margin: 2% 0%;
  font-size: 1.8rem;
  line-height: 3rem;
  letter-spacing: 0.1rem;
  border-right: 1px solid;
  padding-left: 5%;
  .description-list{
    list-style: disc;
    -webkit-padding-start: 15px;
  }
}

.right-description {
  margin: 2% 0%;
  font-size: 1.8rem;
  line-height: 3rem;
  letter-spacing: 0.1rem;
  padding: 0% 5%;
  .description-list{
    list-style: disc;
    -webkit-padding-start: 15px;
  }
}

.dot {
  background-color: #FFF;
  padding: 0.5rem;
  border-radius: 10px;
  position: absolute;
  top: 10%;
  left: 6%;
}

.sub-description-container {
  background-color: #F5F9FC;
  border-bottom: 1px solid #BCCEE4;
  background: #3DC0C6;
  color: #FFFFFF;
}

.section-header {
  color: #3467B0;
  padding-top: 7rem;
  padding-bottom: 2rem;
  font-size: 2.5rem;
  font-family: MinionPro;
  font-weight: 900;
  margin: auto;
  border-bottom: 0.2rem dashed #3DC0C6;
}

.how-it-works-header {
  width: 18%;
}

.mms-advantages-header {
  width: 22%;
}

.our-story-header {
  width: 15%;
}

.our-team-header {
  width: 15%;
}

.diagram-container {
  margin-top: 4rem;
}

.section-sub-header {
  color: $bluishFontColor;
  padding-bottom: 3rem;
  padding-top: 4rem;
  font-size: 2.5rem;
  font-family: MinionPro;
}

.mms-advantages-main-container {
  background-color: $containerGrayBackground;
  margin-top: 6rem;
  padding: 0rem 1rem 3rem 1rem;
  font-family: $fontDefault;
  text-transform: capitalize;
}

.no-list {
  list-style: none;
}

.li-point {
  width: 20%;
  margin: 2%;
}

.point-label {
  width: 100%;
  padding-top: 2%;
  font-size: 1.5rem;
}
.team-name{
  font-size: 2rem;
}
.care-team-points-container {
  border-bottom: 1px solid $borderColor;
  padding-bottom: 2%;
}

.our-team-main-container {
  width: 100%;
  background-color: $containerGrayBackground;
  padding: 1% 1% 3% 2%;
  font-size: 1.5rem;
  font-family: $fontDefault;
}

.users-points-container {
  //width: 100%;
}

.our-story-image {
  margin: 0 auto;
  padding-top: 4rem;
}


.footer-container {
  padding: 2% 2%;
}

.list-image {
  height: 50%;
  width: 50%;
}

.nav.navbar-nav.navbar-right {
  margin-right: 30px;
}

.container .col-xs-12 {
  padding-right: 0px;
  padding-left: 0px;
}

.our-story-description {
  margin: 0 auto;
  width: 65%;
  padding: 2% 2% 5% 2%;
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.5rem;
}


.second-section-sub-header {
  color: $bluishFontColor;
  padding-bottom: 3rem;
  padding-top: 4rem;
  font-size: 2.5rem;
  font-family: MinionPro;
}

.team-member-container {
  margin-top: 4rem;
}

.padding-top-10 {
  padding-top: 10%;
}

.team-member-description {
  margin-top: 2%;
  font-size: 1.3rem;
  width: 80%;
  margin: auto;
  padding-top: 1rem;
}

.mms-logo-container {
  margin: auto;
  position: absolute;
  left: 44%;
  bottom: 20%;
}

.navbar-default .navbar-nav > li > a {
  color: $bluishFontColor;
}

.mms-second-row, .our-team-second-row {
  width: 80%;
  margin: auto;
}

.padding-top-3 {
  padding-top: 3%;
}

.input-group, .btn {
  width: 100%;
}

.btn-submit {
  background-color: #3CC0C6;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 20px;
  color: #FFF;
  font-family: $fontDefault;
  margin-top: 5%;
}

.office-address-container {
  margin-top: 2%;
  color: $bluishFontColor;
  font-family: $fontDefault;
}

.input-container {
  border: 0px solid #ccc;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
  border-bottom: 1px solid $borderColor;
  font-family: $fontDefault;
}

.input-container:focus {
  border: 0px solid #ccc;
  border-bottom: 1px solid $borderColor;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
}

.has-success .form-control {
  border: 0px solid #ccc;
  border-bottom: 1px solid #67b168;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
}

.has-error .form-control:focus, .has-error .form-control {
  border: 0px solid #ccc;
  border-bottom: 1px solid darkred;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
}

#success_message{ display: none;}


.mms-advantages-carousel-body-container {

}
@media screen and (max-width: $screen-xs-max){
  .background-description {
    padding: 30px 20px 30px 35px;
    width: 100%;
    font-size: 3rem;
    line-height: 4rem;
  }

  .first-section {
    background: url(../images/hero_image_phone_3x.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
  }
  .mms-advantages-header {
    width: 50%;
  }
  .how-it-works-header {
    width: 35%;
  }
  .our-story-header {
    width: 26%;
  }
  .our-team-header {
    width: 26%;
  }
  .team-member-description {
    font-size: 1.8rem;
    width: 90%;
  }
  .point-label {
    font-size: 2.5rem;
  }
  .our-story-description {
    width: 90%;
  }
  .office-address-container{
    font-size: 1.8rem;
  }
  .second-section-sub-header{
    line-height: 40px;
  }
  .our-story-description {
    padding: 7% 2% 10% 2%;
  }
}
.office-address-container{
  font-size: 1.5rem;
}
@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .background-description {
    padding: 60px 20px 60px 35px;
    width: 66%;
    font-size: 3rem;
    line-height: 4rem;
  }

  .first-section {
    background: url(../images/hero_image_ipad_3x.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
  }
  .mms-advantages-header {
    width: 24%;
  }
  .how-it-works-header {
    width: 18%;
  }
  .our-story-header {
    width: 20%;
  }
  .our-team-header {
    width: 20%;
  }
}
.carousel-container{
  text-align: center;
  #mms-advantages-carousel,#mms-advantages-second-carousel,#how-it-works-carousel{
    display: inline-block;
    .carousel-indicators{
      width: auto;
      left:70%;
      z-index: 0;
      li{
        border-color: black;
      }
      .active{
        position: relative;
        top: -1px;
        width: 10px;
        height: 10px;
        background-color: black;
      }
      top: -30px;
    }
    .carousel-inner{
      display: inline-block;
      width: auto;
      .last-image{
        padding-bottom: 8px
      }
      i{
        position: relative;
        top: 10px;
        padding: 0 15px;
      }
      .item{
        min-width: 250px;
        @media only screen and (max-width: 400px){
          min-width: 200px;
        }
      }
      .icon-sub-header{
        font-weight: 300;
        color: #4874A3;
        font-size: 1.2rem;
        margin-top:5px;
      }
    }
    .carousel-control{
      opacity: 1;
      width: auto;
      position: static;
    }
    .carousel-control.left, .carousel-control.right{
      background: none;
    }
    .carousel-control{
      //text-shadow: none;
    }
  }
  i{
    font-size: 3rem;
  }
}
.carousel-text{
  font-size: 2rem;
  text-align: center;
  font-family: CallunaSans !important;
}
.mms-advantages-carousel-body-container,.mms-advantages-second-carousel-body-container{
  text-align: center;
  .header{
    font-size: 1.5rem;
    color: #4874A3;
    margin: 20px;
  }
  .item{
    margin-top: 20px;
  }
  margin-bottom: 25px;
  padding: 15px;
  h4{
    font-weight: 300;
  }
}

.display-none{
  display: none;
}


.carousel-control {
  position: absolute !important;
}
.carousel-control.right {
  left: 113%;
  top: 42%;
}
.carousel-control.left {
  top: 42%;
  left: -27%;
}
.carousel-container{
  margin-top: 20px;
}
#mms-advantages-carousel{
  .carousel-indicators {
    left: 70%;
  }
}
#mms-advantages-second-carousel{
  .carousel-indicators {
    left: 58% !important;
    margin-top: -5px;
  }
}
.separator{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #2F6AAF;
  margin: 1em 0;
  padding: 0;

}
#how_it_works{
  .carousel-container {
    margin-top: 50px;

  }
  .carousel-indicators{
    left: 60% !important;
  }
  .hide-how-it-works-carousel{
    padding: 10px 50px;
  }
}
.m-l-0{
  margin-left: 0;
}
.m-r-0{
  margin-right: 0;
}
.row{
  margin-left: 0;
  margin-right: 0;
}