@font-face {
  font-family: 'MuseoSans';
  src: url(font_path("MuseoSans_100.otf"));
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans';
  src: url(font_path("MuseoSans_300.otf"));
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans';
  src: url(font_path("MuseoSans_500.otf"));
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans';
  src: url(font_path("MuseoSans_700.otf"));
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans';
  src: url(font_path("MuseoSans_900.otf"));
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans';
  src: url(font_path("MuseoSans_100_Italic.otf"));
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'MuseoSans';
  src: url(font_path("MuseoSans_300_Italic.otf"));
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'MuseoSans';
  src: url(font_path("MuseoSans_500_Italic.otf"));
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'MuseoSans';
  src: url(font_path("MuseoSans_700_Italic.otf"));
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'MuseoSans';
  src: url(font_path("MuseoSans_900_Italic.otf"));
  font-weight: 900;
  font-style: italic;
}
