@font-face {
  font-family: 'MuseoSans';
  src: url(font_path("MuseoSans_100.otf"));
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans';
  src: url(font_path("MuseoSans_300.otf"));
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans';
  src: url(font_path("MuseoSans_500.otf"));
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans';
  src: url(font_path("MuseoSans_700.otf"));
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans';
  src: url(font_path("MuseoSans_900.otf"));
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans';
  src: url(font_path("MuseoSans_100_Italic.otf"));
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'MuseoSans';
  src: url(font_path("MuseoSans_300_Italic.otf"));
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'MuseoSans';
  src: url(font_path("MuseoSans_500_Italic.otf"));
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'MuseoSans';
  src: url(font_path("MuseoSans_700_Italic.otf"));
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'MuseoSans';
  src: url(font_path("MuseoSans_900_Italic.otf"));
  font-weight: 900;
  font-style: italic;
}

//minion

@font-face {
  font-family: 'MinionPro';
  src: url(font_path("minionPro/MinioPro_Bold.otf"));
  font_style: normal;
  font-weight: Bold;
}

@font-face {
  font-family: 'MinionPro';
  src: url(font_path("minionPro/MinioPro_BoldCn.otf"));
  font-style: normal;
  font-weight: Bold;
}

@font-face {
  font-family: 'MinionPro';
  src: url(font_path("minionPro/MinionPro_BoldCnIt.otf"));
  font-style: italic;
  font-weight: Bold;
}

@font-face {
  font-family: 'MinionPro';
  src: url(font_path("minionPro/MinioPro_BoldIt.otf"));
  font-style: italic;
  font-weight: Bold;
}

@font-face {
  font-family: 'MinionPro';
  src: url(font_path("minionPro/MinioPro_It.otf"));
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'MinionPro';
  src: url(font_path("minionPro/MinioPro_Medium.otf"));
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'MinionPro';
  src: url(font_path("minionPro/MinioPro_MediumIt.otf"));
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: 'MinionPro';
  src: url(font_path("minionPro/MinioPro_Regular.otf"));
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'MinionPro';
  src: url(font_path("minionPro/MinioPro_Semibold.otf"));
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'MinionPro';
  src: url(font_path("minionPro/MinioPro_SemiboldIt.otf"));
  font-style: italic;
  font-weight: 500;
}

//calluna

@font-face {
  font-family: 'CallunaSans';
  src: url(font_path("callunaSans/CallunaSansBlack.otf"));
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'CallunaSans';
  src: url(font_path("callunaSans/CallunaSansBlackItalic.otf"));
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'CallunaSans';
  src: url(font_path("callunaSans/CallunaSansBold.otf"));
  font-style: normal;
  font-weight: Bold;
}

@font-face {
  font-family: 'CallunaSans';
  src: url(font_path("callunaSans/CallunaSansBoldItalic.otf"));
  font-style: italic;
  font-weight: Bold;
}

@font-face {
  font-family: 'CallunaSans';
  src: url(font_path("callunaSans/CallunaSansItalic.otf"));
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'CallunaSans';
  src: url(font_path("callunaSans/CallunaSansLight.otf"));
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'CallunaSans';
  src: url(font_path("callunaSans/CallunaSansLightItalic.otf"));
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'CallunaSans';
  src: url(font_path("callunaSans/CallunaSansRegular.otf"));
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'CallunaSans';
  src: url(font_path("callunaSans/CallunaSansSemiBold.otf"));
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'CallunaSans';
  src: url(font_path("callunaSans/CallunaSansSemiBoldItalic.otf"));
  font-style: italic;
  font-weight: 500;
}


@font-face {
  font-family: 'MinionPro';
  src: url(font_path("minionPro/MinioPro_Bold.woff")) format("woff");
  font-weight: bold;
}
@font-face {
  font-family: 'MinionPro';
  src: url(font_path("minionPro/MinioPro_Medium.woff")) format("woff");
  font-weight: 300;
}
@font-face {
  font-family: 'MinionPro';
  src: url(font_path("minionPro/MinioPro_Reguler.woff")) format("woff");
  font-weight: normal;
}
@font-face {
  font-family: 'MinionPro';
  src: url(font_path("minionPro/MinioPro_BoldCn.woff")) format("woff");
  font-weight: normal;
}
@font-face {
  font-family: 'MinionPro';
  src: url(font_path("minionPro/MinioPro_Semibold.woff")) format("woff");
  font-weight: normal;
}

@font-face {
  font-family: 'CallunaSans';
  src: url(font_path("callunaSans/CallunaSansBlack.woff")) format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'CallunaSans';
  src: url(font_path("callunaSans/CallunaSansBold.woff")) format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'CallunaSans';
  src: url(font_path("callunaSans/CallunaSansLight.woff")) format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'CallunaSans';
  src: url(font_path("callunaSans/CallunaSansReguler.woff")) format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'CallunaSans';
  src: url(font_path("callunaSans/CallunaSansSemiBold.woff")) format("woff");
  font-style: normal;
  font-weight: normal;
}