<div class="row m-l-0 m-r-0">
  <div class="col-xs-12">
    <div class="background-main-container row m-l-0 m-r-0">
      <div class="first-section pull-left">
        <div class="background-description pull-left">
          <span class="description-header">
            <span class="minion-pro-semibold">
              Manage My Surgery
            </span>
            <sup class="description-sup-content minion-pro">TM</sup>
            <span class="museosans">(MMS)</span>
          </span>
          <span class="font-wt-100">
          is a secure and HIPAA compliant platform created by doctors to
          support patients and their caregivers throughout their
          entire surgical journey, from
          planning to recovery and rehabilitation.
          </span>
        </div>
      </div>
    </div>
    <div class="row m-l-0 m-r-0 sub-description-container clearfix pull-left">
      <div class="left-description pull-left col-sm-6">
        <ul class="description-list">
          <li class="pull-left">
          Our Vision is to empower patients to help better
          manage their surgeries by offering them an easy-to-use,
          evidence-based management tool that serves as a virtual navigator.
          </li>
        </ul>
      </div>
      <div class="right-description pull-left col-sm-6">
        <ul class="description-list">
          <li class="pull-left">
          MMS also provides doctors and the care team a platform to monitor and enhance patient engagement, measure outcomes and identify gaps.
          </li>
        </ul>
      </div>
    </div>

  </div>
  <div class="clearfix"></div>
</div>
