<div class="">
  <div class="col-xs-12">
    <div class="background-main-container row">
      <div class="first-section pull-left">
        <div class="background-description pull-left">
          <span class="description-header">
            <span class="minion-pro minion-pro-bold">
              Manage My Surgery
            </span>
            <sup class="description-sup-content minion-pro">TM</sup>
            <span class="museosans">(MMS)</span>
          </span>
          <span class="calluna-sans calluna-sans-regular">
          is a secure and HIPAA complaint platform created doctors to
          support patients and their caregivers throughout their
          entire surgery or medical procedure experience, form
          planning to recovery and rehabilitation.
          </span>
        </div>
      </div>
    </div>
    <div class="mms-logo-container"><img src="images/MMS_logo_2x.png" width="100"/></div>
    <div class="row sub-description-container clearfix pull-left">
      <div class="left-description pull-left calluna-sans col-sm-6">
        Our Vision is to empower patients to help better
        manage their surgeries by offering them an easy-to-use,
        evidenced-based management tool that serves as a virtual navigator.
      </div>
      <div class="right-description pull-left calluna-sans col-sm-6">
        MMS also provides doctors and members of the
        care team an easy-to-use platform to monitor and
        enhance patient engagement.
      </div>
    </div>

  </div>
  <div class="clearfix"></div>
</div>
