  <div class="row footer-container">
    <div class="col-sm-1"><img alt="Brand" src="images/higgsboson_logo.png" height="60px"></div>
    <div class="office-address-container col-sm-11">
      811 9th Street, Durham, NC 27705   |   email-info@higgsboson.com   |   phone-123-456-789   |   higgsbosonhealth.com
    </div>
  </div>
