<div class="footer-container">
  <div class="row">
    <div class="text-center"><img alt="Brand" src="images/higgsboson_logo.png" height="70px"></div>
  </div>
  <div class="row hidden-xs">
    <div class="office-address-container col-xs-12 text-center calluna-sans-regular">
      811 9th Street, Durham, NC 27705 &nbsp;&nbsp;&nbsp;  |  &nbsp;&nbsp;&nbsp; info@higgsbosonhealth.com  &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;  1 866 70 HIGGS &nbsp;&nbsp;&nbsp;  | &nbsp;&nbsp;&nbsp;  higgsbosonhealth.com
    </div>
  </div>
    <div class="row visible-xs">
      <div class="office-address-container col-xs-12 text-center calluna-sans-regular">
        <div>811 9th Street, Durham, NC 27705 </div><div>info@higgsbosonhealth.com</div> <div> 1 866 70 HIGGS </div><div>  higgsbosonhealth.com</div>
      </div>
  </div>
</div>
