<div class="footer-container">
  <div class="row">
    <div class="text-center"><img alt="Brand" src="images/higgsboson_logo.png" height="70px"></div>
  </div>
  <div class="row">
    <div class="office-address-container col-xs-12 text-center calluna-sans calluna-sans-regular">
      811 9th Street, Durham, NC 27705   |   email-info@higgsboson.com   |   phone-123-456-789   |   higgsbosonhealth.com
    </div>
  </div>
</div>
