<nav class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header header-logo-container">
    <a class="navbar-brand" href="#">
      <img alt="Brand" src="images/higgsboson_logo.png" height="100%">
    </a>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right nav-bar-component">
      <li><a href="#how_it_works" class="page-scroll">How It Works</a></li>
      <li><a href="#mms_advantages" class="page-scroll">MMS Advantages</a></li>
      <li><a href="#our_story" class="page-scroll">Our Story</a></li>
      <li><a href="#our_team" class="page-scroll">Our Team</a></li>
      <!--<li><a href="#contact_us" id="contact_us" class="page-scroll">Contact Us</a></li>-->
    </ul>
  </div>
  </div>
</nav>