<div class="row" id="how_it_works">
  <div class="section-header text-center font-16">How It Works</div>
  <div class="diagram-container">
    <img alt="Brand" src="images/diagram_flow_3x.png" width="100%">
  </div>
</div>