<div class="row m-r-0 m-l-0" id="how_it_works">
  <div class="section-header text-center how-it-works-header">How It Works</div>
  <div class="diagram-container hidden-xs">
    <div class="how-it-works-image first-image" >
      <img src="images/Clinical_Staff_invites_patients_to_download_MMS_and_sign_in_2x.png" class="carousel-image">
      <div class="text-center how-it-works-number"><span>1</span></div>
      <div class="text-center how-it-works-text">Clinical Staff invites patients to download MMS and sign in</div>
    </div>
    <div class="how-it-works-image second-image">
      <img src="images/Patients _and_Caregivers_receive_tasks_notifications_reminders_2x.png" class="carousel-image">
      <div class="text-center how-it-works-number"><span>2</span></div>
      <div class="text-center how-it-works-text">Patients & Caregivers receive tasks, notifications & reminders</div>
    </div>
    <div class="how-it-works-image">
      <img src="images/Patients_and_Caregivers_review_FAQs_and_ask_additional_questions_to_clinical_staff_via_MMS_2x.png" class="carousel-image">
      <div class="text-center how-it-works-number"><span>3</span></div>
      <div class="text-center how-it-works-text">Patients and Caregivers review FAQs and ask additional questions to clinical staff via MMS</div>
    </div>
    <div class="how-it-works-image" >
      <img src="images/Patient_and_family_is_well_prepared_for_every_stage_of_the_procedure_2x.png" class="carousel-image">
      <div class="text-center how-it-works-number"><span>4</span></div>
      <div class="text-center how-it-works-text">Patient and family is well-prepared for every stage of the procedure</div>
    </div>
    <div class="how-it-works-image" >
      <img src="images/Support_continues_in_the_recovery_and_rehabilitation_period_2x.png" class="carousel-image" >
      <div class="text-center how-it-works-number"><span>5</span></div>
      <div class="text-center how-it-works-text">Support continues in the recovery and rehabilitation period</div>
    </div>
  </div>
  <div class=" hidden-lg hidden-md hidden-sm">
    <div class="carousel-container">
      <div id="how-it-works-carousel" class="carousel slide">
        <ol class="carousel-indicators">
          <li data-slide-no="0" class="active"></li>
          <li data-slide-no="1"></li>
          <li data-slide-no="2"></li>
          <li data-slide-no="3"></li>
          <li data-slide-no="4"></li>
        </ol>
        <a class="left carousel-control" href="#how-it-works-carousel" role="button" data-slide="prev">
          <img src="images/arrow_left_2x.png" height="35px">
        </a>
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="images/Clinical_Staff_invites_patients_to_download_MMS_and_sign_in_2x.png" class="carousel-image" width="200px" height="200px">
          </div>
          <div class="item">
            <img src="images/Patients _and_Caregivers_receive_tasks_notifications_reminders_2x.png" class="carousel-image" width="200px" height="200px">
          </div>
          <div class="item">
            <img src="images/Patients_and_Caregivers_review_FAQs_and_ask_additional_questions_to_clinical_staff_via_MMS_2x.png" class="carousel-image" width="200px" height="200px">
          </div>
          <div class="item last-image" >
            <img src="images/Patient_and_family_is_well_prepared_for_every_stage_of_the_procedure_2x.png" class="carousel-image" width="200px" height="220px" >
          </div>
          <div class="item last-image" >
            <img src="images/Support_continues_in_the_recovery_and_rehabilitation_period_2x.png" class="carousel-image" width="200px" height="220px" >
          </div>
        </div>
        <a class="right carousel-control" href="#how-it-works-carousel" role="button" data-slide="next" >
          <img src="images/arrow_right_2x.png" height="35px">
        </a>
      </div>
    </div>

    <div class="how-it-works-carousel-body-container">
      <div id="content-0" class="hide-how-it-works-carousel">
        <div class="carousel-text">Clinical Staff invites patients to download MMS and sign in</div>
      </div>
      <div id="content-1" class="hide-how-it-works-carousel display-none">
        <div class="carousel-text">Patients & Caregivers receive tasks, notifications & reminders</div>
      </div>
      <div id="content-2" class="hide-how-it-works-carousel display-none">
        <div class="carousel-text">Patients and Caregivers review FAQs and ask additional questions to clinical staff via MMS</div>
      </div>
      <div id="content-3" class="hide-how-it-works-carousel display-none">
        <div class="carousel-text">Patient and family is well-prepared for every stage of the procedure</div>
      </div>
      <div id="content-4" class="hide-how-it-works-carousel display-none">
        <div class="carousel-text">Support continues in the recovery and rehabilitation period</div>
      </div>
    </div>

  </div>
</div>