<div id="mms_advantages">
  <div class="mms-advantages-main-container">
    <div class="section-header text-center clearfix mms-advantages-header">MMS Advantages</div>
    <div class="section-sub-header text-center clearfix">Care Team</div>
    <div class="row care-team-points-container clearfix">
        <div class="col-sm-3">
          <div class="text-center"><img alt="" src="images/Improve_Quality_of_Care_2x.png" height="100px"></div>
          <div class="point-label gray-text-color text-center calluna-sans calluna-sans-semibold">Improve quality<br> of care</div>
        </div>
        <div class="col-sm-3">
          <div class="text-center"><img alt="" src="images/Boost_Patient_Engagement_and_Satisfaction_2x.png" height="100px"></div>
          <div class="point-label gray-text-color text-center calluna-sans calluna-sans-semibold">Boost patient engagement<br> and satisfaction</div>
        </div>
        <div class="col-sm-3">
          <div class="text-center"><img alt="" src="images/Streamline_Communication_Between_the_Patient_and_Care_Team_2x.png" height="100px"></div>
          <div class="point-label gray-text-color text-center calluna-sans calluna-sans-semibold">streamline communication <br> between the patient AND the care team</div>
        </div>
        <div class="col-sm-3">
          <div class="text-center"><img alt="" src="images/Improved_Care_Coordination_and_long_term_follow_up_2x.png" height="100px"></div>
          <div class="point-label gray-text-color text-center calluna-sans calluna-sans-semibold">Improved Care Coordination and<br> long-term follow up</div>
        </div>
    </div>

    <div class="second-section-sub-header font-13 text-center clearfix">Patient and Caregivers</div>
    <div class="users-points-container clearfix row">
        <div class="col-sm-3">
          <div class="text-center"><img alt="" src="images/Authoritative_Information_From_Your_Provider_Team_2x.png" height="100px"></div>
          <div class="point-label gray-text-color text-center calluna-sans calluna-sans-semibold">Curated information from <br>your provider team</div>
        </div>
        <div class="col-sm-3">
          <div class="text-center"><img alt="" src="images/Ability_To_Ask_Specific_Questions_2x.png" height="100px"></div>
          <div class="point-label gray-text-color text-center calluna-sans calluna-sans-semibold">Ability to ask <br>specific questions</div>
        </div>
        <div class="col-sm-3">
          <div class="text-center"><img alt="" src="images/Actions_to_Guide_You_2x.png" height="100px"></div>
          <div class="point-label gray-text-color text-center calluna-sans calluna-sans-semibold">Tasks /Actions<br> to guide you</div>
        </div>
        <div class="col-sm-3">
          <div class="text-center"><img alt="" src="images/Effective_Caregiver_Engagement_2x.png" height="100px"></div>
          <div class="point-label gray-text-color text-center calluna-sans calluna-sans-semibold">Effective caregiver <br>engagement</div>
        </div>
    </div>

    <div class="row clearfix mms-second-row">
        <div class="col-sm-4 padding-top-3">
          <div class="text-center"><img alt="" src="images/Easy_To_Understand_Day_of_Surgery_Instructions_2x.png" height="100px"></div>
          <div class="point-label gray-text-color text-center calluna-sans calluna-sans-semibold">Easy to understand <br>‘day of surgery’ instructions</div>
        </div>
        <div class="col-sm-4 padding-top-3">
          <div class="text-center"><img alt="" src="images/Pre_&_Post_Surgical_Support_2x.png" height="100px"></div>
          <div class="point-label gray-text-color text-center calluna-sans calluna-sans-semibold">Pre & Post <br>surgical support</div>
        </div>
        <div class="col-sm-4 padding-top-3">
          <div class="text-center"><img alt="" src="images/Reminders_&_Notifications_2x.png" height="100px"></div>
          <div class="point-label gray-text-color text-center calluna-sans calluna-sans-semibold">Reminders &<br> notifications</div>
        </div>
    </div>
  </div>
</div>