<div id="mms_advantages">
  <div class="mms-advantages-main-container">
    <div class="section-header text-center clearfix mms-advantages-header">MMS Advantages</div>
    <div class="section-sub-header text-center clearfix">Care Team</div>
    <div class="row care-team-points-container clearfix hidden-xs m-r-0 m-l-0">
        <div class="col-sm-3">
          <div class="text-center"><img alt="" src="images/Improve_Quality_of_Care_2x.png" height="100px"></div>
          <div class="point-label gray-text-color text-center calluna-sans-semibold">Improved quality<br> of care</div>
        </div>
        <div class="col-sm-3">
          <div class="text-center"><img alt="" src="images/Boost_Patient_Engagement_and_Satisfaction_2x.png" height="100px"></div>
          <div class="point-label gray-text-color text-center calluna-sans-semibold">Increased patient engagement<br> and satisfaction</div>
        </div>
        <div class="col-sm-3">
          <div class="text-center"><img alt="" src="images/Streamline_Communication_Between_the_Patient_and_Care_Team_2x.png" height="100px"></div>
          <div class="point-label gray-text-color text-center calluna-sans-semibold">streamlined communication <br> between the patient AND the care team</div>
        </div>
        <div class="col-sm-3">
          <div class="text-center"><img alt="" src="images/Improved_Care_Coordination_and_long_term_follow_up_2x.png" height="100px"></div>
          <div class="point-label gray-text-color text-center calluna-sans-semibold">Improved Care Coordination and<br> long-term follow up</div>
        </div>
    </div>
    <div class=" hidden-lg hidden-md hidden-sm">
      <div class="carousel-container">
        <div id="mms-advantages-carousel" class="carousel slide">
          <ol class="carousel-indicators">
            <li data-slide-no="0" class="active"></li>
            <li data-slide-no="1"></li>
            <li data-slide-no="2"></li>
            <li data-slide-no="3"></li>
          </ol>
          <a class="left carousel-control" href="#mms-advantages-carousel" role="button" data-slide="prev">
            <img src="images/arrow_left_2x.png" height="35px">
          </a>
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="images/Improve_Quality_of_Care_2x.png" class="carousel-image" width="200px" height="200px">
            </div>
            <div class="item">
              <img src="images/Boost_Patient_Engagement_and_Satisfaction_2x.png" class="carousel-image" width="200px" height="200px">
            </div>
            <div class="item">
              <img src="images/Streamline_Communication_Between_the_Patient_and_Care_Team_2x.png" class="carousel-image" width="200px" height="200px">
            </div>
            <div class="item last-image" >
              <img src="images/Improved_Care_Coordination_and_long_term_follow_up_2x.png" class="carousel-image" width="200px" height="220px" >
            </div>
          </div>
          <a class="right carousel-control" href="#mms-advantages-carousel" role="button" data-slide="next" >
            <img src="images/arrow_right_2x.png" height="35px">
          </a>
        </div>
      </div>

      <div class="mms-advantages-carousel-body-container">
        <div id="content-0" class="hide-mms-advantages-carousel">
          <div class="carousel-text">Improved quality of care</div>
        </div>
        <div id="content-1" class="hide-mms-advantages-carousel display-none">
          <div class="carousel-text">Increased patient engagement and satisfaction</div>
        </div>
        <div id="content-2" class="hide-mms-advantages-carousel display-none">
          <div class="carousel-text">streamlined communication between the patient AND the care team</div>
        </div>
        <div id="content-3" class="hide-mms-advantages-carousel display-none">
          <div class="carousel-text">Improved Care Coordination and long-term follow up</div>
        </div>
      </div>

    </div>
    <hr class="visible-xs separator">
    <div class="second-section-sub-header font-13 text-center clearfix">Patient and Caregivers</div>
    <div class="users-points-container clearfix row hidden-xs m-r-0 m-l-0">
        <div class="col-sm-3">
          <div class="text-center"><img alt="" src="images/Authoritative_Information_From_Your_Provider_Team_2x.png" height="100px"></div>
          <div class="point-label gray-text-color text-center calluna-sans-semibold">Curated information from <br>your Care team</div>
        </div>
        <div class="col-sm-3">
          <div class="text-center"><img alt="" src="images/Ability_To_Ask_Specific_Questions_2x.png" height="100px"></div>
          <div class="point-label gray-text-color text-center calluna-sans-semibold">Ability to ask <br>specific questions</div>
        </div>
        <div class="col-sm-3">
          <div class="text-center"><img alt="" src="images/Actions_to_Guide_You_2x.png" height="100px"></div>
          <div class="point-label gray-text-color text-center calluna-sans-semibold">Tasks /Actions<br> to guide you</div>
        </div>
        <div class="col-sm-3">
          <div class="text-center"><img alt="" src="images/Effective_Caregiver_Engagement_2x.png" height="100px"></div>
          <div class="point-label gray-text-color text-center calluna-sans-semibold">Effective caregiver <br>engagement</div>
        </div>
    </div>

    <div class="row clearfix mms-second-row hidden-xs m-r-0 m-l-0">
        <div class="col-sm-4 padding-top-3">
          <div class="text-center"><img alt="" src="images/Easy_To_Understand_Day_of_Surgery_Instructions_2x.png" height="100px"></div>
          <div class="point-label gray-text-color text-center calluna-sans-semibold">Easy to understand <br>‘day of surgery’ instructions</div>
        </div>
        <div class="col-sm-4 padding-top-3">
          <div class="text-center"><img alt="" src="images/Pre_&_Post_Surgical_Support_2x.png" height="100px"></div>
          <div class="point-label gray-text-color text-center calluna-sans-semibold">Pre & Post <br>Procedure support</div>
        </div>
        <div class="col-sm-4 padding-top-3">
          <div class="text-center"><img alt="" src="images/Reminders_&_Notifications_2x.png" height="100px"></div>
          <div class="point-label gray-text-color text-center calluna-sans-semibold">Reminders &<br> notifications</div>
        </div>
    </div>

    <div class=" hidden-lg hidden-md hidden-sm">
      <div class="carousel-container">
        <div id="mms-advantages-second-carousel" class="carousel slide">
          <ol class="carousel-indicators">
            <li data-slide-no="0" class="active"></li>
            <li data-slide-no="1"></li>
            <li data-slide-no="2"></li>
            <li data-slide-no="3"></li>
            <li data-slide-no="4"></li>
            <li data-slide-no="5"></li>
            <li data-slide-no="6"></li>
          </ol>
          <a class="left carousel-control" href="#mms-advantages-second-carousel" role="button" data-slide="prev">
            <img src="images/arrow_left_2x.png" height="35px">
          </a>
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="images/Authoritative_Information_From_Your_Provider_Team_2x.png" class="carousel-image" width="200px" height="200px">
            </div>
            <div class="item">
              <img src="images/Ability_To_Ask_Specific_Questions_2x.png" class="carousel-image" width="200px" height="200px">
            </div>
            <div class="item">
              <img src="images/Actions_to_Guide_You_2x.png" class="carousel-image" width="200px" height="200px">
            </div>
            <div class="item last-image" >
              <img src="images/Effective_Caregiver_Engagement_2x.png" class="carousel-image" width="200px" height="220px" >
            </div>
            <div class="item">
              <img src="images/Easy_To_Understand_Day_of_Surgery_Instructions_2x.png" class="carousel-image" width="200px" height="200px">
            </div>
            <div class="item">
              <img src="images/Pre_&_Post_Surgical_Support_2x.png" class="carousel-image" width="200px" height="200px">
            </div>
            <div class="item last-image" >
              <img src="images/Reminders_&_Notifications_2x.png" class="carousel-image" width="200px" height="220px" >
            </div>
          </div>
          <a class="right carousel-control" href="#mms-advantages-second-carousel" role="button" data-slide="next" >
            <img src="images/arrow_right_2x.png" height="35px">
          </a>
        </div>
      </div>

      <div class="mms-advantages-second-carousel-body-container">
        <div id="content-0" class="hide-mms-advantages-second-carousel">
          <div class="carousel-text">Curated information from your Care team</div>
        </div>
        <div id="content-1" class="hide-mms-advantages-second-carousel display-none">
          <div class="carousel-text">Ability to ask specific questions</div>
        </div>
        <div id="content-2" class="hide-mms-advantages-second-carousel display-none">
          <div class="carousel-text">Tasks /Actions to guide you</div>
        </div>
        <div id="content-3" class="hide-mms-advantages-second-carousel display-none">
          <div class="carousel-text">Effective caregiver engagement</div>
        </div>
        <div id="content-4" class="hide-mms-advantages-second-carousel display-none">
          <div class="carousel-text">Easy to understand ‘day of surgery’ instructions</div>
        </div>
        <div id="content-5" class="hide-mms-advantages-second-carousel display-none">
          <div class="carousel-text">Pre & Post Procedure support</div>
        </div>
        <div id="content-6" class="hide-mms-advantages-second-carousel display-none">
          <div class="carousel-text">Reminders & notifications</div>
        </div>
      </div>

    </div>
  </div>
</div>