<div id="our_team">
  <div class="our-team-main-container">
    <div class="section-header text-center clearfix our-team-header">Founding Team</div>
    <div class="users-points-container clearfix row">
      <div class="col-sm-6 team-member-container">
        <div class="text-center"><img alt="" src="images/Nandan_Lad_2x.png" height="100px"></div>
        <div class="point-label gray-text-color text-center minion-pro minion-pro-medium team-name">Nandan Lad, MD, PhD</div>
        <div class="team-member-description calluna-sans calluna-sans-regular">
          Nandan is a Stanford-trained neurosurgeon, scientist, and entrepreneur with extensive clinical,
          research and medical device experience. He is passionate about innovation and entrepreneurship and believes
          it is essential to combine world-class clinical care with high-quality research and information technology
          to improve patient lives and transform our standard of care.  He currently is an Associate Professor of
          Neurosurgery at Duke University Medical Center and Director of the Duke NeuroInnovations Program.
        </div>
      </div>
      <div class="col-sm-6 team-member-container">
        <div class="text-center"><img alt="" src="images/Rajeev_Dharmapurikar_2x.png" height="100px"></div>
        <div class="point-label gray-text-color text-center minion-pro minion-pro-medium team-name">Rajeev Dharmapurikar</div>
        <div class="team-member-description calluna-sans calluna-sans-regular">
          Rajeev is an accomplished executive with an extensive entrepreneurial and enterprise background.
          As the cofounder of four start-ups, he has demonstrated his acumen as a strategic thinker, effective
          decision maker and pragmatic businessman.  He has created and delivered complex technology platforms
          while building, mentoring and scaling high performance teams.
        </div>
      </div>
    </div>
    <div class="users-points-container clearfix row">
      <div class="col-sm-6 team-member-container">
        <div class="text-center"><img alt="" src="images/Ziad_Gellad_2x.png" height="100px"></div>
        <div class="point-label gray-text-color text-center minion-pro minion-pro-medium team-name">Ziad Gellad, MD, MPH</div>
        <div class="team-member-description calluna-sans calluna-sans-regular">
          Ziad is a Johns Hopkins and Duke-trained gastroenterologist with a passion for improving healthcare quality
          and value. He is a health services researcher, physician executive and entrepreneur. In each role,
          the patient and the patient experience has been central.  He is an Associate Professor of Medicine at Duke
          where he also serves as Associate Vice Chair for Clinical Innovation in the Department of Medicine and
          Director of Quality for the Division of Gastroenterology.
        </div>
      </div>
      <div class="col-sm-6 team-member-container">
        <div class="text-center"><img alt="" src="images/Joe_Knight_2x.png" height="100px"></div>
        <div class="point-label gray-text-color text-center minion-pro minion-pro-medium team-name">Joe Knight, PhD</div>
        <div class="team-member-description calluna-sans calluna-sans-regular">
          Joe is an Army Veteran and medical device entrepreneur with nearly 15 years of experience in medical device
          innovation and commercialization.  His passion is in combining the disciplines of engineering, medicine and
          business to solve the most pressing needs in healthcare, ensuring that innovative technologies get to the
          patients and physicians that can benefit most from them.  He holds a PhD in Biomedical Engineering and is
          a graduate of Stanford’s Biodesign Innovation program.
        </div>
      </div>
    </div>

    <div class="row clearfix our-team-second-row hidden">
      <div class="col-sm-4 padding-top-3">
        <div class="text-center"><img alt="" src="images/Tim_Carney_2x.png" height="100px"></div>
        <div class="point-label gray-text-color text-center">Tim Carney <br> SVP Sales</div>
        <div class="team-member-description">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </div>
      </div>
      <div class="col-sm-4 padding-top-3">
        <div class="text-center"><img alt="" src="images/Kelly_2x.png" height="100px"></div>
        <div class="point-label gray-text-color text-center">Kelly <br> Patient Experience Advisor</div>
        <div class="team-member-description">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </div>
      </div>
      <div class="col-sm-4 padding-top-3">
        <div class="text-center"><img alt="" src="images/Beth_2x.png" height="100px"></div>
        <div class="point-label gray-text-color text-center">Beth <br> Patient Experience Advisor</div>
        <div class="team-member-description">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </div>
      </div>
    </div>
  </div>
</div>
