<div id="our_team">
  <div class="our-team-main-container">
    <div class="section-header text-center clearfix our-team-header">Our Team</div>
    <div class="users-points-container clearfix row">
      <div class="col-sm-6 team-member-container">
        <div class="text-center"><img alt="" src="images/Nandan_Lad_2x.png" height="100px"></div>
        <div class="point-label gray-text-color text-center minion-pro minion-pro-medium">Nandan Lad, M.D, Ph.D</div>
        <div class="team-member-description calluna-sans calluna-sans-regular">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </div>
      </div>
      <div class="col-sm-6 team-member-container">
        <div class="text-center"><img alt="" src="images/Rajeev_Dharmapurikar_2x.png" height="100px"></div>
        <div class="point-label gray-text-color text-center minion-pro minion-pro-medium">Rajeev Dharmapurikar</div>
        <div class="team-member-description calluna-sans calluna-sans-regular">
          Rajeev is an accomplished executive with an extensive entrepreneurial and enterprise background.
          As the cofounder of four start-ups, he has demonstrated his acumen as a strategic thinker, effective decision
          maker and pragmatic businessman.  He has created and delivered complex technology platforms while building,
          mentoring and scaling high performance teams.
        </div>
      </div>
    </div>
    <div class="users-points-container clearfix row">
      <div class="col-sm-6 team-member-container">
        <div class="text-center"><img alt="" src="images/Ziad_Gellad_2x.png" height="100px"></div>
        <div class="point-label gray-text-color text-center minion-pro minion-pro-medium">Ziad Gellad, M.D, MPH</div>
        <div class="team-member-description calluna-sans calluna-sans-regular">
          Ziad is a practicing gastroenterologist with a passion for improving healthcare quality and value through the
          creation of learning health care systems. He is a health services researcher who has taken the unconventional
          path from career development awardee to physician executive to entrepreneur. At each step in the process,
          the patient and the patient experience has been central.  He received his MD and MPH degrees from
          Johns Hopkins University and completed his medical training at Duke University Medical Center.
        </div>
      </div>
      <div class="col-sm-6 team-member-container">
        <div class="text-center"><img alt="" src="images/Joe_Knight_2x.png" height="100px"></div>
        <div class="point-label gray-text-color text-center minion-pro minion-pro-medium">Joe Knight, Ph.D</div>
        <div class="team-member-description calluna-sans calluna-sans-regular">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </div>
      </div>
    </div>

    <div class="row clearfix our-team-second-row hidden">
      <div class="col-sm-4 padding-top-3">
        <div class="text-center"><img alt="" src="images/Tim_Carney_2x.png" height="100px"></div>
        <div class="point-label gray-text-color text-center">Tim Carney <br> SVP Sales</div>
        <div class="team-member-description">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </div>
      </div>
      <div class="col-sm-4 padding-top-3">
        <div class="text-center"><img alt="" src="images/Kelly_2x.png" height="100px"></div>
        <div class="point-label gray-text-color text-center">Kelly <br> Patient Experience Advisor</div>
        <div class="team-member-description">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </div>
      </div>
      <div class="col-sm-4 padding-top-3">
        <div class="text-center"><img alt="" src="images/Beth_2x.png" height="100px"></div>
        <div class="point-label gray-text-color text-center">Beth <br> Patient Experience Advisor</div>
        <div class="team-member-description">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </div>
      </div>
    </div>
  </div>
</div>