<div class="row m-r-0 m-l-0" id="our_story">
  <div class="section-header text-center our-story-header">About Us</div>
  <div class="our-story-image text-center">
    <div class="text-center"><img alt="" src="images/Our_Story_2x.png" height="140px"></div>
  </div>
  <div class="our-story-description gray-text-color calluna-sans-regular">
    Higgs Boson Health designs and implements products to improve healthcare delivery through information technology.
    Higgs Boson Health consists of a team of seasoned physicians and information technology professionals who believe
    that the right information, in the right hands, at the right time can improve patient satisfaction and deliver
    better outcomes.
  </div>
</div>